@import '../../styles/spacing.scss';
@import '../../styles/colors.scss';

.navWrapper {
  position: fixed;
  width: $nav-wrapper-width;
  height: 100%;
  background-color: $primary-color;
  padding: $default-spacing 0;
  box-sizing: border-box;
}

.listWrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listItem {
  width: 100%;
}

.link {
  width: 100%;
  display: block;
}

.icon {
  width: 100%;
  font-size: 26px;
  padding: calc(#{$default-spacing} * 1.25) 0;
  color: $text-color;

  &:hover {
    background: $gray-color;
  }
}

.activeIcon {
  color: $text-color;
  background: $gray-color;
}
