@import '../../styles/colors.scss';
@import '../../styles/spacing.scss';

$icon-size: 24px;

.footerWrapper {
  padding: calc(#{$default-spacing} * 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $primary-color;
}

.footerText {
  font-size: 14px;
  color: $text-color;
  opacity: 0.6;
}

.icon {
  font-size: $icon-size;
  margin-top: $default-spacing;
  color: $accent-color;
  opacity: 0.75;
}
