@import '../../styles/spacing.scss';
@import '../../styles/colors.scss';

.header {
  font-size: calc(#{$default-spacing} * 6);
  margin: 0 0 calc(#{$default-spacing} / 2);
  font-weight: 100;
  color: $text-color;
  opacity: 0.8;
  text-align: center;
}
