@import '../../styles/spacing.scss';

.header {
  font-size: calc(#{$default-spacing} * 5);
  margin: 0 0 calc(#{$default-spacing} / 2);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
}
